{% extends 'base.html' %}
{% block content %}

<style>
    /* Reset & Base */
    body { 
        background-color: #f3f4f6; 
        margin: 0; padding: 0; 
        overflow: hidden; /* Halang scroll semasa attract mode */
    }
    
    /* Container Utama untuk HTMX Swap */
    #kiosk-frame {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
</style>

<div id="kiosk-frame" 
     hx-get="{% url 'kiosk_join' queue.slug %}" 
     hx-trigger="load" 
     hx-swap="innerHTML">
    
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading Kiosk...</span>
        </div>
    </div>

</div>

{% endblock %}