{% extends 'base.html' %}
{% block content %}

<style>
    body { background-color: #ffffff; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; }
    
    .join-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .queue-icon {
        font-size: 3rem;
        color: #9ca3af;
        margin-bottom: 20px;
    }

    .join-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #111827;
        margin-bottom: 5px;
    }
    
    .join-subtitle {
        font-size: 0.9rem;
        color: #6b7280;
        margin-bottom: 30px;
    }

    .form-input {
        width: 100%;
        max-width: 320px;
        padding: 12px 15px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        background-color: #f3f4f6;
        font-size: 1rem;
        margin-bottom: 15px;
        outline: none;
        transition: all 0.2s;
    }
    .form-input:focus {
        background-color: #fff;
        border-color: #93c5fd;
        box-shadow: 0 0 0 3px rgba(147, 197, 253, 0.3);
    }

    .btn-join {
        width: 100%;
        max-width: 320px;
        padding: 12px;
        background-color: #93c5fd; /* Light Blue */
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;S</b
        transition: background 0.2s;
    }
    .btn-join:hover { background-color: #60a5fa; }

</style>

<div class="join-container">
    
    <div class="queue-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    </div>

    <div class="join-title">
        Anda akan menyertai Q "{{ queue.name }}"
    </div>
    <div class="join-subtitle">
            Sila tekan butang join dibawah
    </div>

    <form method="POST" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        {% csrf_token %}
        
        <input type="text" name="name" class="form-input" 
               placeholder="Nama anda" 
               {% if queue.ask_input %}required{% endif %}>
               
        <button type="submit" class="btn-join">Sertai</button>
    </form>
</div>

{% endblock %}