<div id="status-card-area" class="status-card" hx-swap-oob="true">
    <div class="status-label">Pelawat terakhir yang dipanggil</div>
    <div class="status-number" id="display-number">
        {% if current_serving %}
            {{ current_serving.ticket_number }}
        {% else %}
            --
        {% endif %}
    </div>

{% if current_serving and current_serving.served_at %}
        <div class="mt-2 p-2 rounded bg-dark bg-opacity-25 d-inline-block">
            <small class="text-white-50 d-block" style="font-size: 0.7rem;">MASA BERURUSAN</small>
            <span class="live-timer fw-bold text-white fs-4" 
                  data-start="{{ current_serving.served_at|date:'c' }}">
                  00:00
            </span>
        </div>
    {% endif %}
    
    <div class="status-sub mt-3">
        Menunggu: <strong>{{ waiting_count }}</strong>
    </div>
</div>


<div id="controls-area" class="controls-area" hx-swap-oob="true">
    {% if next_visitor %}
        <button 
            id="btn-next"
            hx-get="{% url 'call_next' queue.slug %}" 
            hx-swap="none"
            class="btn-app btn-primary-app">
            Pelawat Seterusnya ({{ next_visitor.ticket_number }})
        </button>
    {% else %}
        <a href="#" class="btn-app btn-primary-app disabled" style="background-color: #d1d5db; pointer-events: none;">
            Tiada Pelawat
        </a>
    {% endif %}

    <div class="action-grid">
        <button id="btn-list" onclick="openNumberModal()" class="btn-app btn-secondary-app">Senarai</button>
        <button id="btn-add" onclick="openAddModal()" class="btn-app btn-secondary-app">+ Tambah</button>
    </div>
    
    {% if current_serving %}
        <div class="action-grid mt-2">
            <button 
                id="btn-recall"
                hx-get="{% url 'invite_specific_visitor' current_serving.id %}" 
                hx-swap="none"
                class="btn-app btn-secondary-app text-primary border-primary fw-bold">
                🔊 Panggil Semula
            </button>

            <button onclick="showConfirmModal('{{ current_serving.id }}', '{{ current_serving.ticket_number }}')" class="btn-app btn-secondary-app text-danger border-danger">
                Kembali ke Q
            </button>
        </div>
    {% endif %}
    
    <div class="text-center mt-2">
        <button onclick="openRemoveModal()" style="background:none; border:none; color:#9ca3af; font-size:0.85rem; cursor:pointer;">
            Kosongkan keseluruhan Q
        </button>
    </div>
</div>

