<div class="status-wrapper">
    <div class="blob-bg"></div>
    
    <div class="circle-card {% if visitor.status == 'SERVING' %}serving{% endif %}">
        
        {% if visitor.status == 'WAITING' %}
            <div class="text-top">Nombor anda <strong>#{{ visitor.ticket_number }}</strong></div>
            
            <div class="text-main">
                {% if position == 1 %}
                    Anda no 1
                {% elif position == 2 %}
                    Anda no 2
                {% elif position == 3 %}
                    Anda no 3
                {% else %}
                    Nombor {{ position }}
                {% endif %}
                <br>dalam barisan
            </div>
            
            <div class="text-sub">
                <span class="divider-line"></span>
                {% if position <= 2 %}
                   hampir tiba!
                {% else %}
                    tunggu sikit lagi
                {% endif %}
            </div>

        {% elif visitor.status == 'SERVING' %}
            <div class="text-top">Nombor <strong>#{{ visitor.ticket_number }}</strong></div>
            <div class="text-main" style="color: #22c55e;">Giliran anda<br>sekarang!</div>
            <div class="text-sub">
                <span class="divider-line"></span>
                Sila ke kaunter!
            </div>

        {% else %}
            <div class="text-main">Selesai</div>
            <div class="text-sub">Terima kasih</div>
        {% endif %}
        
    </div>
</div>

{% if visitor.status == 'WAITING' %}
    <button class="btn-action btn-blue" onclick="alert('Notifications enabled!')">Benarkan notifikasi</button>
    <a href="{% url 'visitor_quit' visitor.id %}" class="btn-action btn-gray">Keluar dari Q</a>
{% endif %}